body {
  background-color: yellow;
}
h1{
	text-align:center;
	font-size:30 px;
	font-color:blue;
}

ul{color:green;
font-size:18px}

dl{color:indigo;
font-size:30px}

ol{color:violet;}
th{
  border:1px solid black;
  color:orange;
}